body{

  width: 80%;
  margin: 0 auto;
}

h1 {
  text-align: center;
}
.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}
.boxsize{
    width: 20%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding:15px;
    text-transform: capitalize;
  }

img{
  height: 220px;
}
